* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #a54328;
  font-family: Source Serif Pro;
  font-weight: 400;
  line-height: 1.6;

  padding: 5.4rem 3.6rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3.4rem;
}

h1,
h2 {
  font-size: 2.7rem;
  font-weight: 700;
}

.recipe {
  max-width: 30rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 4.6rem;
}

.ingredients {
  max-width: 34rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 3.6rem;

  justify-content: start;
}

.ingredientes strong {
  font-weight: 700;
  font-size: 2rem;
}

.ingredientes ul {
  padding-left: 2rem;
}

.ingredientes ol {
  padding-left: 2.6rem;
}

button {
  color: #fff;
  background: #a54328;

  width: 12rem;
  height: 4rem;
  padding: 1.1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  border-radius: 0.4rem;

  font-size: 1.2rem;
  line-height: 1.7rem;
  font-weight: 500;
}

button:hover {
  background: #d34328;
}

@media (min-width: 700px) {
  body {
    background-image: url('assets/background.svg');
    padding: 5.4rem 10rem;

    font-size: 2rem;
  }

  main {
    flex-direction: row;
    gap: 20rem;
  }

  .recipe {
    max-width: 45rem;
  }

  .ingredients {
    max-width: 50rem;
  }
}
